@model IEnumerable<live.courses.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mylayout.cshtml";
}

@*<h2>users</h2>*@
<hr />
<p>
    @Html.ActionLink("View All users", "index", null, new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("View instructors only", "Get_All_instructors", null, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("View Non-instructors", "Get_All_Non_instructors", null, new { @class = "btn btn-outline-warning" })
</p>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br />
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsInstructor)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.jobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceToken)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
        <tr id="@item.Id" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            @if (item.IsInstructor == true)
            {
        <td style="background-color:lightgreen">
            <b > Yes</b>

        </td>
            }
            else
            {
        <td style="background-color:lightcoral">
            <b > No</b>

        </td>

            }

            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceToken)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Accept", "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
        </tr>

        }
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/jquery-3.4.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("tbody tr").click(function () {
                var pathparts = location.pathname.split('/');
                window.location.href = location.origin + '/' + "mvcUsers" + "/details/" + this.id;
                //window.location.href = location.origin + '/' + pathparts[1].trim('/') + "/details/" + this.id;
            });

        });
    </script>
}
